:root {
    --bg-color: #ffffff;
    --text-color: #1f2937;
    --primary-color: #3b82f6;
}

body {
    background-color: #ffffff;
}
/*a tag*/
a {
    text-decoration: none !important;
    color: #4a8cf3;
}
